extends ./../layout/main

block content 
    div(class="col-xs-12 col-md-12")
        h2(class="text-center") Register New User
        form(action="/users", method="POST")
            div(class="form-group")            
                input(type="text", name="name", placeholder="Name:", class="form-control")
            div(class="form-group")            
                input(type="text", name="username", placeholder="UserName:", class="form-control")
            div(class="form-group")            
                input(type="email", name="email", placeholder="E-mail:", class="form-control")
            div(class="form-group")            
                input(type="password", name="password", placeholder="Password:", class="form-control")
            div(class="form-group")            
                input(type="submit", class="btn btn-primary", value="Create") 


